# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

menu "ZMK Display Widgets INDICATORS_STATUS"

config ZMK_WIDGET_INDICATORS_STATUS
    bool "Widget for displaying HID indicators status"
    depends on (!ZMK_SPLIT || ZMK_SPLIT_ROLE_CENTRAL) && ZMK_DISPLAY
    select LV_USE_LABEL
    select ZMK_HID_INDICATORS

endmenu
